<mat-sidenav-container fullscreen>

      <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
          <span class="spacer">Menu</span>
          <button mat-icon-button
          (click)="sidenav.toggle()">
            <mat-icon class="mat-18">menu</mat-icon>
          </button>
        </mat-toolbar>

        <mat-nav-list >
          <a routerLink="./listHero"
          mat-list-item
          (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>label</mat-icon>
            <span>List Of Heros</span>
          </a>
          <a routerLink="./addHero"
          mat-list-item
          (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>add</mat-icon>
            <span>Add Hero</span>
          </a>
          <a routerLink="./searchHero"
          mat-list-item
          (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>search</mat-icon>
            <span>Search Hero</span>
          </a>
        </mat-nav-list>
      </mat-sidenav>
  <mat-toolbar>
    <button mat-icon-button
    (click)="sidenav.toggle()">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>{{auth.usuario}}</span>
    <button mat-button
            (click)="logOut()">
      <mat-icon class="mat-18">account_circle</mat-icon>
      Log Out
    </button>
 </mat-toolbar>

 <div class="container">
  <router-outlet></router-outlet>
 </div>


</mat-sidenav-container>
